.navIcon {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
}

.item {
    align-items: center;
    display: flex;
    gap: 12px;
    position: relative;
}

.collapsed .item {
    justify-content: center;
    width: 100%;
}

/* Показываем tooltip при hover */
.link:hover .tooltip,
.toggle:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
    visibility: visible;
}