@import url('../../assets/style/fonts.css');

.input {
    appearance: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-bottom-colors);
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Comfortaa, sans-serif;
    font-size: 14px;
    font-weight: 200;
    height: 40px;
    max-width: 400px;
    outline: none;
    padding: 0 16px;
    width: 40%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--background-color) inset;
    -webkit-text-fill-color: var(--text-input-color);
    transition: background-color 9999s ease-in-out 0s;
}