@import "fonts.css";

*, *::before, *::after {
  box-sizing: border-box;
  outline: none !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font), serif;
}


