.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    padding-right: 5px;
    width: 24px;
}

.logo {
    align-items: center;
    color: var(--logo-color);
    cursor: pointer;
    display: flex;
    font-family: var(--font-logo), serif;
    font-size: 32px ;
    font-weight: 500;
    gap: 10px;
    justify-content: center;
}