.layout {
    display: flex;
    min-height: 100vh;
}

.layout > aside {
    flex-shrink: 0;
}

.main {
    background-color: var(--background-color-page);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
}

.content {
    background: var(--background-color);
    flex: 1;
    padding: 24px;
}