:root {
    --background-color: #fff;
    --text-color: #000;
    --primary-color: #7868FE;
    --error-color: #F44336;
    --input-background: #f3f4f6;
    --input-border: #d1d5db;
    --primary-hover-color: #422df1;
    --logo-color: #fff;
    --border-bottom-colors: #777;
    --text-input-color: #fff;
}
