.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
    font-size: 12px;
    font-weight: 200;
    height: 32px;
    position: absolute;
    right: 20px;
}

.button:hover {
    background-color: var(--primary-hover-color);
}