.button {
    align-items: center;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    transition: color 0.2s, fill 0.2s;
}

.icon {
    height: 16px;
    width: 16px;
}

.text {
    transition: color 0.2s;
}

.button:hover {
    color: var(--primary-color);
}

.button:hover .icon {
    fill: var(--primary-color);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}